@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}
a:link,
a:visited,
a:hover,
a:active { text-decoration: none; }

a:link { color: #00f; }

a:visited { color: #90f; }

a:hover { color: #f00; }

a:active { color: #f00; }

#header h1,#header p,.button {
  text-align: center;
}

#globalnavi ul {
  margin-top: 100px;
}
#globalnavi .col-sm-6.button {
  height: 50px;
}

.button {
  margin: auto;
  line-height: 50px;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ffc200;
  box-shadow: 3px 3px #bfbfbf;
}
.button:active {
  transform:translate(3px,3px);
  box-shadow: none;
}

.button a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
