.profile {
  margin-left: 10px;
}
.profile h1 {
  font-size: 20px;
}
.profile a {
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 1px #fbfbfb;
}
.profile_data img {
  margin-bottom: 20px;
  width: 30%;
  max-width: 200px;
}
.profile_data p {
  font-size: 16px;
}
.profile_data,ul {
  text-align: center;
}
.profile ul {
  height: 50px;
  padding: 0;
}
.button {
  margin: auto;
  line-height: 50px;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ffc200;
  box-shadow: 3px 3px #bfbfbf;
}
.button:active {
  transform:translate(3px,3px);
  box-shadow: none;
}

.button a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
